body {
    background-image: url("../img/mc_background.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding: 10px;
}

.container {
    /*border: 1px solid #000000;*/
    background-color: rgba(255, 255, 255, .5);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

h1 {
    color: #d156ac;
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.4;
    color: #000000
}

img {
    max-width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.keyword {
    color: #aa0000;
    font-weight: bold;
}

.hightlight {
    background-color: #ffff55;
}

a {
    color: #ff0000
}

.shrink {
    max-width:35%;
}

.navbar {
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    h1 {
        font-size: 72px;
    }

    p {
        font-size: 20px;
    }

}
